/* Imports a local font */
@font-face {
    font-family: "NATS";
    src: url("../assets/fonts/NATS-Regular.ttf") format('truetype');
}

/* All the content, have black background, same font, no margin and white color of text*/
body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    /* Text styling and background color */
    text-align: center;
    font-family: "NATS";
    background-color: black;
    color: white;
    /* Used to center page content */
}

/* Aligns content in the middle  */
.contentDiv {
    margin: auto;
    /* content width is not higher then 1920 pixels*/
    max-width: 1920px;
    position: relative;
}

.header {
    max-width: 1920px;
    margin: auto;
    height: 75px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.85);
    z-index: 50;
}

.header img {
    float: left;
    height: 75px;
    padding: 12.5px;
    box-sizing: border-box;
}

/* Title positioning */
.titleContainer {
    padding-bottom: 10px;
}

/* Title of page stays in the middle */
.title {
    display: inline-block;
    font-size: 50px;
    margin: auto;
    line-height: 90px;
    /* To make the border fit around the text in Firefox */
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    color: rgb(204, 180, 100);
    border: 2px solid rgb(204, 180, 100);
    padding: 0px 10px;
    box-sizing: border-box;
    user-select: none;
    z-index: 2;
    margin-top: 20px;
}

#infoDiv{
    background-color: rgb(20, 20, 20);
    padding: 20px 0;
    width: 100%;
    max-width: 400px;
    border: 4px solid rgb(204, 180, 100);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
}

#infoDiv div {
    width: 100%;
}

#infoDiv h2{
    margin: 0;
    margin-top: 10px;
    line-height: 30px;
    font-size: 34px;
}

.infoA {
    display: block;
    color: white;
    margin: auto;
    font-size: 30px;
    /* Removes decorations */
    text-decoration: none;
    /* width: fit-content */
}


.map iframe{
    border: 4px solid rgb(204, 180, 100);   
    line-height: 0;
    position:relative;
    width: 800px;
    max-width: 100%;
    height: 500px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1183px){
    #infoDiv{
        margin-top: 0px;
    }
    .map iframe{
        height: 500px;
    }
}

h2{
    color: rgb(204, 180, 100);
}

.contactDiv {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}